{{#minify this}}
<table cellpadding="0" cellspacing="0" style="vertical-align:middle;font-size:medium;font-family:Inter,system-ui,-apple-system,Roboto,Helvetica Neue,Arial,sans-serif">
    <tbody>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" style="vertical-align:middle;font-size:medium;font-family:Inter,system-ui,-apple-system,Roboto,Helvetica Neue,Arial,sans-serif">
                    <tbody>
                        <tr>
                            {{#if profilePicture}}
                            <td width="100" style="vertical-align:middle">
                              <span style="margin-right:20px;display:block">
                                <img src="{{ profilePicture }}" role="presentation" width="100" style="max-width:100px;width:100px;height:100px;border-radius:200px;object-fit:cover;">
                              </span>
                            </td>
                            {{/if}}
                            <td>
                              {{#if fullName}}
                              <h2 color="#000000" style="margin:0;font-size:16px;color:#000;font-weight:700;vertical-align: middle;">
                                <span>{{ fullName }} {{#if pronouns}}<span style="font-size:14px;font-weight:400;color: #6b7280;">&nbsp;({{ pronouns }})</span>{{/if}}
                              </h2>
                              {{/if}}
                              <span style="display: inline-block;">
                                {{#if role}}
                                <p color="#000000" font-size="medium" style="display: inline-block;margin:0;color:#000;font-size:14px;line-height:22px">
                                    <span>{{ role }}</span>
                                </p>
                                {{/if}}
                                {{#if company}}
                                <p color="#000000" font-size="medium" style="display:inline-block;margin:0;font-weight:500;color:#000;font-size:14px;line-height:22px">
                                    {{#if companyWebsite}}
                                    &nbsp;&bull;&nbsp;<a href="{{ companyWebsite }}" target="_blank" rel="noreferrer" style="color: {{ ctaColor }}">{{ company }}</a>
                                    {{else}}
                                    <span>&nbsp;&bull;&nbsp;{{ company }}</span>
                                    {{/if}}
                                </p>
                                {{/if}}
                              </span>
                            </td>
                            {{#if phoneNumber }}
                            <td width="30">
                                <div style="width:30px"></div>
                            </td>
                            <td color="{{ ctaColor }}" direction="vertical" width="1" height="auto" style="width:1px;border-bottom:none;border-left:1px solid {{ ctaColor }}"></td>
                            <td width="30">
                                <div style="width:30px"></div>
                            </td>
                            {{/if}}
                            <td>
                                <table cellpadding="0" cellspacing="0" style="vertical-align:middle;font-size:medium;font-family:Inter,system-ui,-apple-system,Roboto,Helvetica Neue,Arial,sans-serif">
                                    <tbody>
                                        {{#if phoneNumber }}
                                        <tr height="25" style="vertical-align:middle">
                                            <td width="30" style="vertical-align:middle">
                                                <table cellpadding="0" cellspacing="0" style="vertical-align:middle;font-size:medium;font-family:Inter,system-ui,-apple-system,Roboto,Helvetica Neue,Arial,sans-serif">
                                                    <tbody>
                                                        <tr>
                                                            <td style="vertical-align:bottom">
                                                                <span width="11" color="{{ ctaColor }}" style="color: {{ ctaColor }}">
                                                                    <svg fill="currentColor" width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z"></path>
                                                                    </svg>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="padding:0;color:#000">
                                                <a href="tel:{{ phoneNumber }}" color="#000000" style="text-decoration:none;color:#000;font-size:12px">
                                                    <span>{{ phoneNumber }}</span>
                                                </a>
                                            </td>
                                        </tr>
                                        {{/if}}
                                        {{#if email }}
                                        <tr height="25" style="vertical-align:middle">
                                            <td width="30" style="vertical-align:middle">
                                                <table cellpadding="0" cellspacing="0" style="vertical-align:middle;font-size:medium;font-family:Inter,system-ui,-apple-system,Roboto,Helvetica Neue,Arial,sans-serif">
                                                    <tbody>
                                                        <tr>
                                                            <td style="vertical-align:bottom">
                                                                <span width="11" color="{{ ctaColor }}" style="color: {{ ctaColor }}">
                                                                    <svg fill="currentColor" width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                                        <path d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z"></path>
                                                                        <path d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z"></path>
                                                                    </svg>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="padding:0">
                                                <a href="mailto:{{ email }}" color="#000000" style="text-decoration:none;color:#000;font-size:12px">
                                                    <span>{{ email }}</span>
                                                </a>
                                            </td>
                                        </tr>
                                        {{/if}}
                                        {{#if website }}
                                        <tr height="25" style="vertical-align:middle">
                                            <td width="30" style="vertical-align:middle">
                                                <table cellpadding="0" cellspacing="0" style="vertical-align:middle;font-size:medium;font-family:Inter,system-ui,-apple-system,Roboto,Helvetica Neue,Arial,sans-serif">
                                                    <tbody>
                                                        <tr>
                                                            <td style="vertical-align:bottom">
                                                                <span width="11" color="{{ ctaColor }}" style="color: {{ ctaColor }}">
                                                                    <svg fill="currentColor" width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                                        <path d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z"></path>
                                                                        <path d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z"></path>
                                                                    </svg>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="padding:0;">
                                                <a href="{{ website }}" target="_blank" color="#000000" style="text-decoration:none;color:#000;font-size:12px">
                                                    <span>{{ website }}</span>
                                                </a>
                                            </td>
                                        </tr>
                                        {{/if}}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        {{!-- Delimiter --}}
        {{#if companyLogo }}
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" style="width:100%;vertical-align:middle;font-size:medium;font-family:Inter,system-ui,-apple-system,Roboto,Helvetica Neue,Arial,sans-serif">
                    <tbody>
                        <tr>
                            <td height="30"></td>
                        </tr>
                        <tr>
                            <td color="{{ ctaColor }}" direction="horizontal" width="auto" height="1" style="width:100%;border-bottom:1px solid {{ ctaColor }};border-left:none;display:block"></td>
                        </tr>
                        <tr>
                            <td height="{{#if companyLogo }}20{{else}}30{{/if}}"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        {{/if}}

        {{!-- Social media --}}
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" style="width:100%;vertical-align:middle;font-size:medium;font-family:Inter,system-ui,-apple-system,Roboto,Helvetica Neue,Arial,sans-serif">
                    <tbody>
                        <tr>
                            {{#if companyLogo }}
                            <td style="vertical-align: top">
                                {{#if companyWebsite }}
                                <a href="{{ companyWebsite }}" target="_blank" rel="noreferrer">
                                    <img src="{{ companyLogo }}" role="presentation" width="130" style="display: inline-block; max-width: 130px">
                                </a>
                                {{else}}
                                <img src="{{ companyLogo }}" role="presentation" width="130" style="display: inline-block; max-width: 130px">
                                {{/if}}
                            </td>
                            {{/if}}
                            <td style="text-align:right;vertical-align:{{#if companyLogo }}middle{{else}}top{{/if}}">
                                <table cellpadding="0" cellspacing="0" style="display:inline-block;vertical-align:middle;font-size:medium;font-family:Inter,system-ui,-apple-system,Roboto,Helvetica Neue,Arial,sans-serif">
                                    <tbody>
                                        <tr style="text-align:right">
                                            {{#if facebook }}
                                            <td>
                                                <a href="https://facebook.com/{{ facebook }}" color="{{ ctaColor }}" style="display:inline-block;padding:0;background-color:{{ ctaColor }}" target="_blank">
                                                    <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/facebook-icon-2x.png" alt="facebook" color="{{ ctaColor }}" height="24" style="background-color:{{ ctaColor }};max-width:135px;display:block">
                                                </a>
                                            </td>
                                            <td width="5">
                                                <div></div>
                                            </td>
                                            {{/if}}
                                            {{#if twitter }}
                                            <td>
                                                <a href="https://twitter.com/{{ twitter }}" color="{{ ctaColor }}" style="display:inline-block;padding:0;background-color:{{ ctaColor }}" target="_blank">
                                                    <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/twitter-icon-2x.png" alt="twitter" color="{{ ctaColor }}" height="24" style="background-color:{{ ctaColor }};max-width:135px;display:block">
                                                </a>
                                            </td>
                                            <td width="5">
                                                <div></div>
                                            </td>
                                            {{/if}}
                                            {{#if linkedin }}
                                            <td>
                                                <a href="https://linkedin.com/in/{{ linkedin }}" color="{{ ctaColor }}" style="display:inline-block;padding:0;background-color:{{ ctaColor }}" target="_blank">
                                                    <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png" alt="linkedin" color="{{ ctaColor }}" height="24" style="background-color:{{ ctaColor }};max-width:135px;display:block">
                                                </a>
                                            </td>
                                            <td width="5">
                                                <div></div>
                                            </td>
                                            {{/if}}
                                            {{#if instagram }}
                                            <td>
                                                <a href="https://instagram.com/{{ instagram }}" color="{{ ctaColor }}" style="display:inline-block;padding:0;background-color:{{ ctaColor }}" target="_blank">
                                                    <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/instagram-icon-2x.png" alt="instagram" color="{{ ctaColor }}" height="24" style="background-color:{{ ctaColor }};max-width:135px;display:block">
                                                </a>
                                            </td>
                                            <td width="5">
                                                <div></div>
                                            </td>
                                            {{/if}}
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{{/minify}}